/* CSS Document 
Colors
dark grey: #312D2E
light brown: #8B7158
toffee bron: #80592E
dark brown: #2F1C0D
coffee brown: #8E5D34

Fonts
	Sans-Serif: font-family: 'Oswald', sans-serif;
	Serif: font-family: 'Eczar', serif;
	Decrotive: font-family: 'Lobster', cursive;
*/

@import url('https://fonts.googleapis.com/css2?family=Eczar:wght@400;500&family=Lobster&family=Oswald:wght@300;400&display=swap');

body {
	font-family: 'Oswald', sans-serif;
}

header {
	text-align: center;
	font-family: 'Lobster', cursive;
	background: #8E5D34;
}

nav ul {
	
}

nav li {
	list-style-type: none; /* Removes bullets */
	display: inline-block;
	font-size: 1em;
}

nav li a {
	color: #8B7158;
	text-decoration: none;
	display: block;
	padding: 0.5em 5.5em;
}

nav a:hover {
	color: #8E5D34;
	text-decoration: line-through;
}

h1 {
	font-family: 'Eczar', serif;
	color: #312D2E;
	font-size: 4em;
	padding: 0;
}

h2 {
	font-family: 'Eczar', serif;
	font-size: 2em;
	margin-top: -3em;
}

main {
	background: #8B7158;
}

body {
	background: #2F1C0D;
}

.form-grid {
	display: inline;
	color: white;
}

footer nav li a {
	font-size: .8em;
	padding: 0;
}

label {
	display: block;
}

blockquote {
	
}

table {
	
}

.homePic {
	max-height: 250px;
	max-width: inherit;
	float: right;
}

.appearPic {
	max-height: 250px;
	max-width: inherit;
	float: right;
}

.popPic {
	max-height: 300px;
	max-width: inherit;
	float: right;
}

.tempPic {
	max-height: 275px;
	max-width: inherit;
	float: right;
}

.newsPic {
	max-height: 300px;
	max-width: inherit;
    display: block;
    margin-left: auto;
    margin-right: auto;
}